<div class="fixed-to-top">
  <!-- header start -->
  <app-nav-bar></app-nav-bar>
  <!-- header end -->
  <!--day header start-->
  <div class="toggle-task-type">
    <div class="container">
      <div class="toggle-task-list" >
        <span data-tab="0" (click)="tabToggleClick($event)">Активные задачи</span>
        <span data-tab="1" class="active" (click)="tabToggleClick($event)" >Все задачи</span>
      </div>
    </div>
  </div>
  <!--day header end-->
</div>
<!--main start-->
<main>
  <div *ngIf="!toggleList" class="task-content" id="active-task">
    <div class="container" >

      <div class="task-day" >
        <span class="day" >{{ 1 }}</span>
        <span class="month" >{{ 1 }}</span>
      </div>

      <!-- передаю таски в app-todo [todoes]="todoes" -->
      <app-todo [todoes]="tab0"></app-todo>

    </div>
  </div>
  <div *ngIf="toggleList" class="task-content" id="all-task">
    <div class="container" >

      <div class="task-day" >
        <span class="day" >{{ 2}}</span>
        <span class="month" >{{ 2 }}</span>
      </div>

      <!-- передаю таски в app-todo [todoes]="todoes" -->
      <app-todo [todoes]="tab1"></app-todo>

    </div>
  </div>
</main>
<!--main end-->



