<div class="fixed-to-top">
  <!-- header start -->
  <app-nav-bar></app-nav-bar>
  <!-- header end -->
  <!--day header start-->
  <div class="toggle-task-type">
    <div class="container">
      <div class="toggle-task-list">
        <a href="#">Активные задачи</a>
        <a href="#" class="active" >Все задачи</a>
      </div>
    </div>
  </div>
  <!--day header end-->
</div>
<!--main start-->
<main>
  <div class="task-content" id="active-task">
    <div class="container" >
      <div class="task-day" >
        <span class="day" >{{ 1 }}</span>
        <span class="month" >{{ 1 }}</span>
      </div>

      <!-- передаю таски в app-todo [todoes]="todoes" -->
      <app-todo [todoes]="todoes"></app-todo>

    </div>
  </div>
</main>
<!--main end-->



