<div class="fixed-to-top">
  <!-- header start -->
  <app-nav-bar></app-nav-bar>
  <!-- header end -->
  <div class="toggle-task-type">
    <div class="container">
      <div class="toggle-task-list">
        <a href="#">Активные задачи</a>
        <a href="#" class="active" >Все задачи</a>
      </div>
    </div>
  </div>
</div>

<main>
  <div class="task-content" id="active-task">
    <div class="container" *ngFor="let todo of todoes; let i = index">
      <div class="task-day" >
        <span class="day" >{{ todo.setTime.getDate() }}</span>
        <span class="month">{{ todo.setTime.toLocaleString('ru',{month: 'long'}) }}</span>
      </div>

      <!-- передаю таски в app-todo [todoes]="todoes" -->
      <app-todo [todoes]="todoes"></app-todo>

    </div>
  </div>
</main>

