<div class="all-task-wrap" *ngIf="todoes?.length; else noTodoes">
  <!-- one task start-->
  <div id="{{todo.id}}" class="task-section" *ngFor="let todo of todoes" >
    <div class="task" [ngClass]="taskHeadClass" taskAcardion>
      <div class="to-do-time">{{ todo.time }}</div>
      <div class="task-header flex-container" >
        <span class="icon icon-arrow"></span>
        <div class="short-task-text">{{ todo.header }}</div>
        <span class="icon icon-cancel" routerLink="/del/{{todo.id}}"></span>
      </div>
      <div class="task-content-wrap">
        <div class="time-row flex-container">
          <div class="task-icon">
            <span class="icon icon-time"></span>
          </div>
          <span class="time">{{ todo.timestamp }}</span>
          <!--<span class="time">{{ todo.timestamp.getHours() }}:{{ todo.timestamp.getMinutes() }}</span>-->
          <div class="task-icon">
            <span class="icon icon-bell icon-bell-active"></span>
          </div>
        </div>
        <div class="task-text-row flex-container">
          <div class="task-icon">
            <span class="icon icon-list"></span>
          </div>
          <div class="text">
            {{ todo.text }}
          </div>
        </div>
        <div class="task-check-row flex-container">
          <input type="checkbox" id="check-task-{{ todo.id }}">
          <label class="" for="check-task-{{ todo.id }}">Задача еще не выполнена</label>
        </div>
        <div class="task-edit-row flex-container">
          <div class="task-icon" routerLink="/edit/{{ todo.id }}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <span class="icon icon-edit"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="task-status color-worning">
      <div class="status-icon">
        <span class="icon icon-warning"></span>
      </div>
      <div class="status-text">
        <p>Вы не выполнили эту задачу</p>
      </div>
    </div>
  </div>
  <!-- one task end -->
</div>

<ng-template #noTodoes >
  <div class="task-section" style="margin-top: 24px;">
    <div class="task">
      <div class="task-header flex-container">
        <div class="short-task-text">
          Тут еще нет задач
        </div>
        <button routerLink="/add"
                type="button"
                class="add-task-btn"
                style="
                  padding: 5px 25px;
                  border-radius: 3px;
                  color: #00a2f4;;
                ">
                Добавить
        </button>
      </div>
    </div>
  </div>
</ng-template>

