
<header class="header">
  <div class="container flex-container">
    <button class="add-task" routerLink="/add" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a ><span></span><span></span></a>
    </button>
    <nav class="user-nav">
      <a routerLink="/setings" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ><i class="icon icon-user"></i></a>
      <a (click)="onLogOutClick()" style="cursor: pointer;"><i class="icon icon-logout"></i></a>
    </nav>
  </div>
</header>
